---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="About | Seatplan Generator"
    className="min-h-screen justify-between"
>
    <div class="py-8">
        <h1 class="text-3xl font-bold mb-6">About Us</h1>
        <p class="text-gray-300 mb-4">
            We are a team of developers who are passionate about creating tools
            that make life easier for people. Our goal is to provide a simple
            and intuitive tool that allows users to create seating plans for
            events, classrooms, and more.
        </p>

        <p class="text-gray-300 mb-4">
            Our tool is designed to be easy to use and flexible enough to
            accommodate a wide range of needs. Whether you are planning a
            wedding, a conference, or a classroom layout, our tool can help you
            create a seating plan that meets your needs.
        </p>

        <p class="text-gray-300 mb-4">
            We are constantly working to improve our tool and add new features
            that make it even more useful. If you have any feedback or
            suggestions, we would love to hear from you.
        </p>

        <p class="text-gray-300 mb-4">
            Please feel free to reach out to us at
            <a class="font-bold" href="mailto:support@seatplan.xyz">
                support@seatplan.xyz
            </a>
        </p>
    </div></Layout
>