---
import FeaturesSection from "../components/FeatureSection";
import Footer from "../components/Footer";
import Header from "../components/Header";
import HeroSection from "../components/Hero";
import HowItWorksSection from "../components/HowItWorks";
import TestimonialsSection from "../components/Testimonials";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seatplan Generator</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-100">
  <Header />
  <HeroSection />
  <FeaturesSection />
  <HowItWorksSection />
  <TestimonialsSection />
  <Footer />
</body>
</html>
