---
import CallToActionSection from "../components/CtaSection";
import FeaturesSection from "../components/FeatureSection.astro";
import Footer from "../components/Footer";
import Header from "../components/Header";
import HeroSection from "../components/HeroSection.astro";
import HowItWorksSection from "../components/HowItWorks";
import "../styles/global.css";
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Generate seatplans for your classroom, conference, or event.">
  <meta name="keywords" content="seatplan, generator, classroom, conference, event">
  <meta name="author" content="Seatplan Generator">
  <link rel="icon" href="favicon.ico" type="image/x.icon">
  <title>Seatplan Generator</title>
</head>
<body class="bg-gray-100">
  <Header />
  <HeroSection/>
  <FeaturesSection />
  <HowItWorksSection />

  <CallToActionSection />
  <Footer />
</body>
</html>
