---
import LandingPage from "../components/LandingPage.astro";
import "../styles/global.css";
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Generate seatplans for your classroom, conference, or event.">
  <meta name="keywords" content="seatplan, generator, classroom, conference, event">
  <meta name="author" content="Seatplan Generator">
  <link rel="icon" href="favicon.ico" type="image/x.icon">
  <title>Seatplan Generator</title>
</head>
<body class="bg-black">
  <LandingPage />
</body>
</html>
