---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms of Service | Seatplan Generator">
    <div class="flex flex-col gap-4 max-w-3xl mx-auto py-8 shadow-lg rounded-lg">
        <div>
            <h1 class="text-3xl font-bold mb-6">Terms of Service</h1>
            <p class="">
                <span class="font-bold">Effective Date:</span> 09.03.2025
            </p>
        </div>

        <h2 class="text-2xl font-semibold mt-6">1. Introduction</h2>
        <p class="text-gray-300">
            Welcome to <span class="font-bold">Seatplan.xyz</span>! By accessing
            or using our seat plan generator, you agree to comply with these
            Terms of Service.
        </p>

        <h2 class="text-2xl font-semibold mt-6">2. Use of the Service</h2>
        <p class="text-gray-300">
            Our service is provided as-is, and you agree to use it responsibly.
            You may not:
        </p>
        <ul class="list-disc list-inside space-y-2">
            <li>Use the service for any illegal or unauthorized purpose.</li>
            <li>Disrupt or interfere with the platform's functionality.</li>
            <li>
                Attempt to reverse engineer or copy parts of the service. This
                web application is open source for education purposes and may <span
                    class="font-bold">NOT</span
                > be copied without our approval.
            </li>
        </ul>

        <h2 class="text-2xl font-semibold mt-6">3. Data & Privacy</h2>
        <p class="text-gray-300">
            We do not store user data on our servers. All data remains on your
            device, and you have full control over its management.
        </p>

        <h2 class="text-2xl font-semibold mt-6">4. Limitation of Liability</h2>
        <p class="text-gray-300">
            We are not responsible for any loss, damage, or inconvenience caused
            by the use of our service. Your use of the platform is at your own
            risk.
        </p>

        <h2 class="text-2xl font-semibold mt-6">5. Changes to These Terms</h2>
        <p class="text-gray-300">
            We may update these Terms of Service from time to time. Any changes
            will be reflected on this page with an updated effective date.
        </p>

        <h2 class="text-2xl font-semibold mt-6">6. Contact Us</h2>
        <p>
            If you have any questions about these Terms of Service, please
            contact us at <a
                href="mailto:support@seatplan.xyz"
                class="font-bold hover:text-gray-400 transition-colors"
                >support@seatplan.xyz</a
            >.
        </p>
    </div>
</Layout>
