---
const features = [
  {
    title: "Quick Setup",
    description: "Generate seat plans in minutes without any hassle.",
    icon: "svg/plane.svg",
  },
  {
    title: "Customizable Layouts",
    description: "Adapt seat arrangements to fit your classroom layout.",
    icon: "svg/config.svg",
  },
  {
    title: "Student Management",
    description: "Easily assign students and manage seating preferences.",
    icon: "svg/manage.svg",
  },
  {
    title: "Printable Plans",
    description: "Download and print seat plans for easy reference.",
    icon: "svg/print.svg",
  },
];
---

<section id="features" class="py-10">
  <div class="flex flex-col gap-4">
    <h2 class="text-3xl font-semibold mb-12">Features</h2>
    <div class="flex flex-wrap -mx-4">
      {
        features.map((feature, _) => (
          <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8">
            <div class=" border-2 border-white p-6 rounded-lg lg:h-96">
              <div class="lg:h-56">
                <img
                  src={feature.icon}
                  alt=""
                  class="h-32 w-32 mb-4 mx-auto border-4 border-gray-300 rounded-full"
                />
                <h3 class="text-2xl font-semibold mb-2 text-center">
                  {feature.title}
                </h3>
              </div>
              <p class="text-gray-300text-center">{feature.description}</p>
            </div>
          </div>
        ))
      }
    </div>
    <div class="flex justify-end items-center">
      <a
        href="/features"
        class="flex flex-row gap-2 bg-white text-black px-4 py-2 rounded-lg cursor-pointer"
      >
        Learn More
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
        </svg>
      </a>
    </div>
  </div>
</section>
