---
const platform = "github";
const username = "withastro";
import Social from "./Social.astro";
---

<footer class="flex flex-col items-center text-gray-600 transition-colors bg-gray-400 mx-6 my-2 px-4 py-2 rounded-xl">
    <p>
        Learn more about my projects on <a
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >!
    </p>
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
</footer>
