---

---

<footer class="flex flex-col w-full h-auto gap-8 p-8">
    <div class="flex flex-col sm:flex-row gap-12 sm:gap-0 justify-between">
        <p class="text-left text-gray-300 sm:text-3xl text-xl font-bold">
            Empowering educators
            <br />
            with easy-to-use tools
            <br />
            for classroom management.
        </p>

        <div class="flex flex-col justify-start gap-4 sm:text-end">
            <a href="/contact" class="text-white hover:text-gray-300">
                Contact Us
            </a>
            <a href="/privacy-policy" class="text-white hover:text-gray-300">
                Privacy Policy
            </a>
            <a href="/terms-of-service" class="text-white hover:text-gray-300">
                Terms of Service
            </a>
        </div>
    </div>

    <div class="w-full bg-gray-500 h-0.5"></div>

    <p class="text-center text-gray-300 text-sm">
        &copy; 2025 Seatplan.xyz. All rights reserved.
    </p>
</footer>
