---

---

<section class="container mx-auto flex flex-col gap-32 xl:gap-38 mt-20">
    <div
        class="flex flex-col justify-center items-center gap-8 md:gap-12 text-center"
    >
        <h1
            class="flex flex-col md:gap-3 xl:gap-6 text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-extrabold"
        >
            <span> Effortless seating arrangements </span>
            <span> created in seconds </span>
        </h1>
        <p
            class="flex flex-col sm:gap-2 text-sm sm:text-base md:text-2xl max-w-2xl"
        >
            <span> Design flawless seating charts in moments. </span>
            <span> Drag & drop, share, and print with ease. </span>
        </p>
        <a
            href="/start"
            class="text-sm sm:text-xl bg-white text-black px-4 sm:px-6 py-2 sm:py-3 rounded-lg cursor-pointer"
            >Start Now</a
        >
    </div>

    <div class="relative w-full flex justify-center">
        <img
            src="/img/mockup.png"
            alt="Seatplan Generator"
            class="rounded-t-xl w-auto h-full object-cover xl:max-w-6xl"
        />
    </div>
</section>
