---
import PrimaryButton from "./buttons/PrimaryButton";
import TertiaryButton from "./buttons/TertiaryButton";
---

<div
    class="min-h-[80vh] flex items-center bg-[rgb(24,24,27)] bg-[radial-gradient(at_61%_8%,rgb(65,158,175)_0px,transparent_70%),radial-gradient(at_14%_89%,rgb(78,187,206)_0px,transparent_50%)]"
>
    <div
        class="container mx-auto px-4 py-4 md:px-2 flex flex-col pt-32 md:pt-0 md:flex-row md:justify-between items-center"
    >
        <div class="text-center md:text-left">
            <h1 class="text-5xl font-bold text-white mb-6">
                Seatplan Generator
            </h1>
            <p class="text-xl text-gray-200 mb-6 pr-2">
                Generate seatplans fast, free, forever — no experience required!
            </p>

            <div class="flex flex-row justify-center md:justify-start gap-4">
                <PrimaryButton
                    client:load
                    className=""
                    onClick={() =>
                        (window.location.href = "https://app.seatplan.xyz")}
                >
                    Get Started
                </PrimaryButton>
                <TertiaryButton
                    client:load
                    className="font-medium"
                    onClick={() => null}
                >
                    Learn More
                </TertiaryButton>
            </div>
        </div>

        <div class="mt-10 md:mt-0 aspect-square flex justify-center">
            <img
                src="/mockup.png"
                alt="Website Mockup"
                class="w-full h-auto rounded-2xl shadow-2xl"
            />
        </div>
    </div>
</div>
