---
import Footer from "./Footer.astro";
import Header from "./Header";
import StartNow from "./StartNow.astro";
---

<div class="bg-black text-white">
    <div class="flex flex-col gap-8 container mx-auto px-6">
        
        <Header client:load />

        <section class="h-56">Some hero section here...</section>

        <section class="h-56">Some feature section...</section>

        <StartNow />

        <Footer />
    </div>
</div>
