---

---

<section class="flex flex-col w-full gap-10">
    <div class="text-3xl font-medium">What are you waiting for?</div>

    <a
        href="/start"
        class="flex flex-row justify-between items-center ml-10 px-6 py-3 bg-cyan-500 hover:bg-cyan-700 transition-colors cursor-pointer rounded-xl"
    >
        <span class="font-semibold text-3xl">Start Creating Now</span>

        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
        </svg>
    </a>
</section>
