---
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>{title}</title>
    
        <meta
            name="description"
            content="Easily generate seating charts for classrooms, conferences, and events with our intuitive SeatPlan Generator. Customize layouts, assign seats, and print effortlessly!"
        />
        <meta
            name="keywords"
            content="seatplan, generator, classroom, conference, event, seat plan generator, classroom seating chart, event seating arrangement, seating layout tool"
        />
        <meta name="author" content="Seatplan.xyz" />
    
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="canonical" href="https://seatplan.xyz/" />
    
        <!-- Open Graph for social media -->
        <meta property="og:title" content="SeatPlan Generator - Create Seating Charts with Ease" />
        <meta property="og:description" content="Quickly create seat plans for classrooms, conferences, and events. Customize layouts and assign seats with ease!" />
        <meta property="og:image" content="https://yourwebsite.com/favicon.svg" />
        <meta property="og:url" content="https://seatplan.xyz/" />
        <meta property="og:type" content="website" />
    
        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="SeatPlan Generator - Create Seating Charts with Ease" />
        <meta name="twitter:description" content="Easily generate seating charts for any occasion. Try it now!" />
        <meta name="twitter:image" content="https://seatplan.xyz/favicon.svg" />
    </head>
    

    <body class="bg-black text-white font-montserrat">
        <slot />
    </body>
</html>
