---
import Header from "../components/Header";
import Footer from "../components/Footer.astro";
import Head from "./Head.astro";

const { title, className } = Astro.props;
---

<Head title={title}>
    <Header client:load />
    <div
        class={`flex flex-col gap-8 container mx-auto px-6 pt-20 ${className}`}
    >
        <slot />
        <Footer />
    </div>
</Head>
